body{padding:0;}
.topBar{height:30px;background-color:#70ad47;padding-top:4px;padding-right:12%;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.topBar ul{float:right;color:white;}
.topBar li{display:inline-block;border-right-style:solid;border-right-width:2px;border-right-color:white;padding-right:10px;padding-left:5px;}
.topBar li:last-child{border-right-style:none;border-right-width:none;border-right-color:none;}
.topBar a{text-decoration:none;color:white;font-size:14px;}
.topBar a:hover{color:white;}
.menuBar{height:85px;padding-left:10%;box-shadow:0.5px 0.5px 3px 0.5px #B9B9B9;font-family:Verdana, Geneva, Tahoma, sans-serif;}
#imgLogoFull{width:10%;position:absolute;z-index:1000;margin-top:10px;}
#menuLogo{display:none;}
#textoLink1:hover{background-color:#70ad47;border-radius:50px 0 0 50px;color:white;}
#textoLink:hover{background-color:#70ad47;color:white;}
#textoLink1{color:black;border-right:1px inset #BDBDBD;}
#textoLink{color:black;border-right:1px inset #BDBDBD;}
#conteudoMenu{margin-top:8px;border-radius:50px 0 0 50px;float:right;width:80%;}
.mcode, .funciona, .vantagens, .controla, .clientes, .empresa, .fale, .contato{cursor:pointer;}
.item1{padding-left:10%;padding-right:10%;padding-top:200px;padding-bottom:160px;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item1 h2{text-align:justify; padding-top: 30px;}
.item1 h4{text-align:justify;}
#codigos{margin-top:100px;}
#imgmcode{width:100%;margin-top:0px;}
#imgean{width:100%;float:right;margin-top:20px;}
#imgqrcode{width:70%;float:right;margin-top:20px;}
.item2{padding-top:100px;padding-bottom:100px;background-color:#70ad47;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item2 h2{color:white;margin-bottom:50px;}
.item2 img{float:left;margin-top:15px;margin-right:8px;}
.item3{padding-top:120px;padding-bottom:120px;padding-left:15%;padding-right:15%;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item3 h5{text-align:center;}
.item3 h6{text-align:center;padding-left:20%;padding-right:20%;}
.item3 img{width:100%;}
.imgContainer{width:200px;height:200px;}
.item4{padding-top:150px;padding-bottom:150px;padding-left:15%;padding-right:15%;background-color:#70ad47;font-family:Verdana, Geneva, Tahoma, sans-serif;}
#textoControlar{padding-right:36.5%;}
.item4 h3{margin-top:30px;font-weight:bold;}
.item4 img{margin-top:50px;width:200px;height:200px;border-radius:100%;border:10px solid #4E7832;}
.item5{padding-top:150px;padding-bottom:150px;padding-left:15%;padding-right:15%;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item5 .row{margin-top:30px;}
.item5 a{text-decoration:none;}
.item5 h4{font-size:20px;}
#imgPop{width:70%;}
#imgTimob{margin-top:90px;}
.item6{padding-top:100px;padding-bottom:100px;padding-left:20%;padding-right:20%;background-color:#70ad47;text-align:justify;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item6 img{}
.item6 h3{margin-bottom:60px;}
.item7{padding-left:15%;padding-right:15%;padding-top:100px;padding-bottom:100px;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item7 img{width:120px;float:right;}
.item7 textarea{height:110px;}
.item8{background-color:#222222;padding-top:40px;padding-bottom:40px;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item8 img{width:100%;height:250px;}
.item8 h3{color:white;}
.item8 h4{margin-top:30px;color:white;}
.item9{background-color:#70ad47;padding-left:10%;padding-right:10%;padding-top:10px;padding-bottom:10px;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.item9 h5{color:white;}
.item9 h6{color:white;float:right;font-size:17px;}
.item9 a{text-decoration:none;color:white;float:right;font-size:20px;margin-top:10px;}
@media (min-width:200px) and (max-width:495px){.topBar{padding-left:0;padding-right:0;height:50px;}
#logoRotativo{margin:0;padding:0;}
}
@media (min-width:200px) and (max-width:1118px){.menuBar{height:65px;padding-left:0%;box-shadow:0.5px 0.5px 3px 0.5px #B9B9B9;position:absolute;z-index:1000;width:100%;}
.slider{margin-top:65px;}
.item1{padding-top:20px;padding-bottom:20px;padding-left:6%;padding-right:6%;}
.item2{padding-top:20px;padding-bottom:20px;padding-left:5%;padding-right:5%;}
.item2 img{margin-top:0;}
.item3{padding-top:20px;padding-bottom:20px;}
.item4{padding-top:20px;padding-bottom:20px;}
.item5{padding-top:20px;padding-bottom:20px;padding-left:5%;padding-right:5%;}
.item6{padding-top:20px;padding-bottom:20px;padding-left:5%;padding-right:5%;}
.item6 img{padding-left:5%;padding-right:5%;}
.item6 img{width:80%;margin-left:0%;margin-top:50%;}
.item6 h3{margin-bottom:0px;}
.item7{padding-top:20px;padding-bottom:20px;}
#textoControlar{padding-right:0%;}
#menuLogo{display:block;}
#imgLogoFull{display:none;}
#textoLink1:hover{background-color:#263683;border-radius:0;color:white;}
#textoLink:hover{background-color:#263683;color:white;}
#textoLink1{color:black;}
#textoLink{color:black;}
#conteudoMenu{margin-top:5px;border-radius:0px 0 0 0px;width:100%;float:none;}
}